.CircleButton {
    border-radius: 100%;
    background-color: white;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.CircleButton > span {
    position: relative;
    top: -0.1rem;
}